body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 34px;
  color: #4a4a4a;
  font-family: sans-serif;
  padding: 15px 0 0 0;
}

p {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 30px auto 0px;
  padding: 0;
  line-height: 26px;
  text-align: center;
  width: 660px;
}

header {
	height: 80px;
	background-color: black;
}

.contents {
	height: 700px;
	width: 960px;
	background-color: gray;
	margin: 0 auto;
}

.box1 {
	background-color: forestgreen;
	height: 300px;
}

.box2 {
	background-color: burlywood;
	height: 300px;
}

.contents .title {
	text-align: center;
}

footer {
	height: 80px;
	background-color: black;
}
